
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-brand: #FACC15;
}

body { 
  font-family: 'Inter', sans-serif; 
  -webkit-tap-highlight-color: transparent;
  background-color: var(--yellow-brand);
  margin: 0;
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar { 
  display: none; 
}

.scrollbar-hide { 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.safe-pb { 
  padding-bottom: env(safe-area-inset-bottom); 
}

/* Utilitários específicos para manter a identidade visual do app */
.bg-yellow-400 { background-color: #FACC15 !important; }
.text-yellow-400 { color: #FACC15 !important; }
.border-yellow-400 { border-color: #FACC15 !important; }
